@tailwind base;
@tailwind components;
@tailwind utilities;

/* This targets the scrollbar in WebKit-based browsers for the body and ol */
body::-webkit-scrollbar,
ol::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

/* This targets the scrollbar thumb (the draggable part) for the body and ol */
body::-webkit-scrollbar-thumb,
ol::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Change the color as needed */
  border-radius: 3px; /* Rounded corners for the thumb */
}

/* This targets the scrollbar track (the background of the scrollbar) for the body and ol */
body::-webkit-scrollbar-track,
ol::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Change the color as needed */
}

/* Custom CSS animation for the reveal */
@keyframes reveal {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.revealed {
  animation: reveal 0.2s ease-in-out;
  opacity: 1;
  transform: scale(1);
}

/* Define the 'shake' animation */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply the 'shake' animation when the 'shake' class is present */
.shake {
  animation: shake 0.5s ease-in-out;
}
